{% extends 'base.html' %} {% block content %}
   {% include 'navbar.html' %}
   <input type="text" id="hiddenMovieId" value={{id}} hidden>
    <div class="container pt-5 pl-2 row">
      <div class="col-md-6">

      <span id="posterId">
        <img src="/static/defaultImage/posterMovie.png" alt="">
      </span>
        <div class="row">
          <table class="table table-borderless">
              <tbody id="cItemList">
                <tr><td width='150'>Title </td><td id="title">: -</td></tr>
                <tr><td width='150'>Genre </td><td id="genre">: -</td></tr>
                <tr><td width='150'>Release Date </td><td id="releaseDate">: -</td></tr>
                <tr><td width='150'>Age Certification </td><td id="ageCertification">: -</td></tr>
                <tr><td width='150'>Stock </td><td id="availableStock">: -</td></tr>
                <tr><td width='150'>Rental Price/day </td><td id="price">: -</td></tr>
                <tr><td width='150'>Description</td><td id="desc">: -</td></tr> 
              </tbody>
          </table>
      </div>
      </div>
      <div class="col-md-6">
        <form>

          <div class="mb-3" hidden>
            <label for="userIdField" class="form-label" >User ID</label>
            <input type="number" class="form-control" id="userIdField" value={{session.get('user_id')}} disabled>
          </div>

          <div class="mb-3">
            <label for="movieIdField" class="form-label" >Movie ID</label>
            <input type="number" class="form-control" id="movieIdField" value={{id}} disabled>
          </div>

          <div class="mb-3" >
            <label for="startDateField" class="form-label" >Start Date</label>
            <input type="date" class="form-control" id="startDateField">
          </div>

          <div class="mb-3">
            <label for="endDateField" class="form-label" >End Date</label>
            <input type="date" class="form-control" id="endDateField">
          </div>

          <div class="mb-3">
            <label for="addressField" class="form-label">Address</label>
            <textarea
              class="form-control"
              id="addressField"
              rows="3"
              placeholder="Address"
              required
            ></textarea>
          </div>

          <button type="button" class="btn btn-primary" id="submitButtonId">Submit</button>
        </form>
        <hr>
        <div id="invoicesNote">
          </div>
      </div>
  </div>


  {% endblock content %} {% block customBottomScripts %} 

  <script src={{ url_for("user_bp.static", filename='js/rentingDvd.js')}}></script>

{% endblock customBottomScripts %}
