{% extends 'base.html' %} {% block content %}
  {% include 'navbar.html' %}
  <div class="pt-4 px-2 row">
    <div class="col-sm-4" id="movie_container1_id">
      hello
    </div>
    
    <div class="col-sm-4" id="movie_container2_id">
      hello
    </div>
    
    <div class="col-sm-4" id="movie_container3_id">
      hello
    </div>
    
  </div>


  {% endblock content %} {% block customBottomScripts %} 
  {% include 'notifAjax.html' %}
<script src={{ url_for("user_bp.static", filename='js/storeDvd.js')}}></script>
{% endblock customBottomScripts %}
