{% extends 'base.html' %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-11">
            {% if session.get('user_name') %}
              
            <a class="navbar-brand" href="/user">{{session.get('user_name')}}</a>
              {% else %}
              <a class="navbar-brand" href="/user">Anonymous User</a> 
              {% endif %}
              |
            <a class="navbar-brand" href="/">Sigma DVDs Shop</a>
        </div>
        <div class="col-1">
            <div class="text-right">
              <a href="/cart">
                <button type="button" class="btn btn-error position-relative">  
                  <span 
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" 
                    id="notifId"
                    >0</span>Notif
                  </button> 
                </a>
            </div>
            
        </div>
      </div>
    </div>
  </nav>
  
  <input type="text" id="hiddenMovieId" value={{id}} hidden>
  <div class="pt-4 pl-5">
    <div class="container pt-5 pl-2">
      <span id="posterId">
        <img src="/static/defaultImage/posterMovie.png" alt="">
      </span>
        <div class="row">
          <table class="table table-borderless">
              <tbody id="cItemList">
                <tr><td width='150'>Title </td><td id="title">: -</td></tr>
                <tr><td width='150'>Genre </td><td id="genre">: -</td></tr>
                <tr><td width='150'>Release Date </td><td id="releaseDate">: -</td></tr>
                <tr><td width='150'>Age Certification </td><td id="ageCertification">: -</td></tr>
                <tr><td width='150'>Stock </td><td id="availableStock">: -</td></tr>
                <tr><td width='150'>Description</td><td id="desc">: -</td></tr> 
              </tbody>
          </table>
      </div>
      <div className="row mt-2">
        <p className="h6">Review</p>
        <div className="col-sm-12">
          <textarea
            class="form-control borderless-except-bottom"
            placeholder="Leave a review here"
            id="floatingTextarea"
          ></textarea>
        </div>
      </div>

      <div class="row">
        <label for="genderField" class="form-label"> <b>Rating</b> </label> 
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">5</label>
          </div>
        </div>
      </div>
      <div class="row p-3 mb-2">
        <button type="button" class="btn btn-primary w-auto">Submit</button>
      </div>
      <hr>
      <div className="row mt-5 ml-5" >
        
        <div className="col-sm-8 pb-5" id="reviewContainerId">
        </div>
      </div>
  </div>


  {% endblock content %} {% block customBottomScripts %} 

  <script src={{ url_for("user_bp.static", filename='js/reviewDvd.js')}}></script>

{% endblock customBottomScripts %}
