{% extends 'base.html' %} {% block content %}
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-sm-12">
              {% if message %}
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                {{message}}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              {% endif %}
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Register</h1>
                </div>
                <form target="/register" method="POST">
                  <div class="mb-3">
                    <label for="nameField" class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nameField"
                      placeholder="Name"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="emailField" class="form-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="emailField"
                      placeholder="Email"
                      required
                      aria-describedby="emailHelp"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="birthDateField" class="form-label"
                      >Birth Date</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="birthDateField"
                      placeholder="Birth Date"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="genderField" class="form-label">Gender</label>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        name="genderField"
                        id="customRadioInline1"
                        class="custom-control-input"
                        value="L"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline1"
                        name="genderField"
                        >Male</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="customRadioInline2"
                        name="genderField"
                        value="P"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label"
                        for="customRadioInline2"
                        >Female</label
                      >
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="addressField" class="form-label">Address</label>
                    <textarea
                      class="form-control"
                      id="addressField"
                      rows="3"
                      placeholder="Address"
                      required
                    ></textarea>
                  </div>

                  <div class="mb-3">
                    <label for="passwordField" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="password"
                      required
                      id="passwordField"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="passwordConfirmField" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Confirm Password"
                      required
                      id="passwordConfirm"
                    />
                  </div>

                  <button
                    type="button"
                    class="btn btn-success"
                    id="registerButtonId"
                  >
                    Register
                  </button>
                  <a class="btn btn-primary" href="/login" role="button"
                    >Login</a
                  >
                </form>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block customBottomScripts %} 
 
<script src={{ url_for("user_bp.static", filename='js/register.js')}}></script>
{% endblock customBottomScripts %}
