{% extends 'base.html' %} {% block content %}
{% include 'notifAjax.html' %}
  <input type="text" id="hiddenUserId" value={{session.get('user_id')}} hidden>
  <div class="pt-4 pl-5 col-sm-8">
    <div class="row p-5 m5">
      <div class="col-sm-8">
        <form>
          <h5>Validate Payment</h5>
          <div class="mb-3">
            <label for="invoiceIdField" class="form-label">Invoice Number</label>
            <input type="number" class="form-control" id="invoiceIdField" width="200" >
            </div>
          <button type="button" class="btn btn-primary" id="buttonFindInvoices">Find</button>
        </form>
        <hr>
        <div id="validateForm">
        </div>
      </div>
    </div>
    
    
    <div class="row px-5 ">
      <h5>Rent History</h5>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Movie</th>
          </tr>
        </thead>
        <tbody id="history_table">
          <tr>
              <td colspan="4">No Rentings History Yet.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% endblock content %} {% block customBottomScripts %} 
  {% include 'notifAjax.html' %}
  <script src={{ url_for("user_bp.static", filename='js/historyRenting.js')}}></script>

{% endblock customBottomScripts %}
